.container-header{ 
    display: flex;
    height: 40%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:767px) {
    .container-header{
      
 }}
.header__paragraf {
   width: 60%;
   padding: 20px;
    
    
}

.header__aside {
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    background-image: url(../12.2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}