.container-header{ 
    display: flex;
    height: 30%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    animation-name: contentRight;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@media (max-width:767px) {
    .container-header {
        display: block;
        width: 100%;
        margin: 10px 10px 10px 10px;
        
 }}

 @keyframes contentRight {
    0% {right: -1000px}
    100% {right: 0px}
}

.header__paragraf {
   width: 70%;
   padding-top: 10px;
   padding-right: 20px;
   
 
}
@media (max-width:767px) {
    .header__paragraf {
        display: block;
        width: 100%;
        padding: 30px;
 }}


.header__aside {
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    background-image: url(../12.2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width:767px) {
    .header__aside {
        display: block;
        width: 60%;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
       
 }}