.container-header{ 
    display: flex;
    height: 40%;
}
@media (max-width:767px) {
    .container-header{
      
 }}
.header__paragraf {
    width: 50%;
    margin: 50px;
    
}

.header__aside {
    margin: 50px;
    display: block;
    width: 20%;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin-right: 50px;
    background-image: url(../12.2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}