
.conteiner--dark {
    background-color: rgba(0, 0, 0, 0.719);
    color: white;
}


.conteiner--white {
    background-color: white;
    color: black;
}
.button {
   margin-left: 90%;
   margin-top: 10px;
   border-radius: 30px;
}
@media (max-width:767px) {
    .button {
        margin-left: 70%;
    }}
.button--white {
    background: white;
    color:black ;
}

.button--dark {
    background: rgba(0, 0, 0, 0.719);
    color: white; 
}

