.container-section {
    height: 40%;
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}
@media (max-width:767px) {
    .container-section{
        
 }}
.section__article {
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    background-image: url(../15.1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.section__aside {
    width: 60%;
    padding: 20px;
}